.block-hours {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  height: 170px;
  margin: 10px auto;
}
.hour-zone {
  flex: 1;
  padding: 4px 8px;
  height: 100%;
  text-align: center;
  letter-spacing: .1rem;
  border-radius: 5px;
  color: var(--color-violet-800);
  border: 1px solid var(--color-violet-800);
  background-color: var(--color-white);
}
.hour-zone > .wx {
  height: 56px;
  width: 56px;
  margin: 6px auto;
}
.hour-zone > .temp {
  font-size: var(--font-size-xs);
}
.hour-zone > .pop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px auto;
  font-size: var(--font-size-xs);
}
.hour-zone > .pop > img {
  width: 16px;
  height: 16px;
}
.hour-zone > .pop > .pop-num {
  margin-left: 5px;
}
.hour-zone > .ci {
  font-size: var(--font-size-xs);
}